{% extends '/Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}
{% form_theme form '/Partners/Layout/Templates/FormLayout.html.twig' %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showPartnersIndex %}
        {{ macro.buttonIcon( geturl('Index'), 'bars', 'lbl.Partners'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_rest(form) }}

  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>&nbsp;
            {{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {{ form_end(form) }}
{% endblock %}
